[Desktop Entry]
Version=1.0
Type=Application
Name=Zoom
Comment=Linux x86 version of Zoom cloud meetings running using Box86
Exec=~/zoom/startzoom.sh
Icon=path/to/zoom-icon.png
Path=~/zoom
Terminal=true
StartupNotify=false
Categories=Network;
